:root {
    --navbar-narrow-width: 72px;
    --navbar-medium-width: 240px;
    --navbar-wide-width: 335px;
    --font-family-system: BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    --mode-background-color: rgb(255, 255, 255);
    --mode-background-color-higlight: rgb(245, 245, 245);
    --mode-text-color: rgb(0, 0, 0);
    --mode-background-color-hover: rgba(0, 0, 0, 0.05);
    --border-color: rgb(219, 219, 219);
    --secondary-text: rgb(115, 115, 115);
}

html,
body,
#root {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: var(--font-family-system);
    background-color: var(--mode-background-color);
    color: var(--mode-text-color);
    box-sizing: border-box;
}

html {
    height: 100%;
}

body,
#root {
    min-height: 100%;
}

a {
    text-decoration: none;
    color: inherit;
}

#main {
    width: calc(100% - var(--navbar-medium-width));
}